<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base1::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>
<br><br>
<h2 align="center">Upload Student Image</h2><br><br>
<div class="container">
<form action="/uploadPhoto", method="post"  enctype="multipart/form-data">

Only jpg and png file allowed to upload
<br><br>
<input type="file" 
class="form-control" 
								    
name="studentUploadPhoto">
<br>
 <button type="submit" class="btn btn-primary"> Upload  </button> 

</form>
</div>

</section>
</body>
</html>